ion-toolbar {
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  & ion-title{
    color: beige;
  }
}

.calculator-main{
  background-color: rgb(83, 82, 82);
}


.display{
  text-align: end;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

ion-label{
  background-color: rgb(147, 144, 145);
  font-size: 2rem;
  text-align:right;
}

ion-col{
  text-align: center;
}



*{
  outline: 1px solid red;
}

ion-button{
  color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 50;
  font-size: 1rem;
}

